*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html {
        scroll-behavior: smooth;
    }

    @font-face {
        font-family: sfmonoreg;
        src: url(SFMonoRegular.otf);
        font-family: verilyserifmono;
        src: url(VerilySerifMono.otf);
    }  
    nav {
        display:flex;
        margin: auto;
        align-items: center;
        min-height: 10vh;
        justify-content: space-around;
        font-family: 'Inter', sans-serif;
        background-color: #bfe895;
        padding: 0;
    }
    
    .logo {
        color: black;
        letter-spacing: 3px;
        font-size: 25px ;
        display: flex;
        flex:1;
        margin: 20px;
    }
    ul { 
        display: flex;
        align-items: center;
        flex: 2;

    }
    ul li {
        list-style: none;
        display: flex;
        margin: 0 20px 0 20px;
        justify-content: space-around;
        align-items: center;

    }
    ul li a {
        text-decoration: none;
        font-family: verilyserifmono,Arial, Helvetica, sans-serif, monospace,sans-serif;
        
        font-size: 12px;
        letter-spacing: 1px;
        color: black;
        text-transform: uppercase;
    }


    ul li a:hover {
        color: #ccc;
    } 


   .button {
    cursor: pointer;
}


.button div { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    width: 25px;
    height: 4px;
    margin: 3px 0px 3px 0px;
}
.button :hover {
    background-color: #ccc;

}

.sidebar 
{
    display: flex;

    justify-content: space-around;
    align-items: center;
    line-height: 20px;
    flex: 2;
    margin: 0 100px 0 0 ;
} 


.sidebar li {
    list-style: none;
    
    
}
.sidebar li a { 
        
        font-size: .8125rem;
        font-weight: 600;
        line-height: 1.6;
        letter-spacing: .01em;
        text-transform: uppercase;
        color: black;
    }
        footer {
            font-size: 14px;
            text-transform: uppercase;
            font-family: sfmonoreg, monospace;
        }