*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html {
        scroll-behavior: smooth;
    }

    @font-face {
        font-family: sfmonoreg;
        src: url(SFMonoRegular.otf);
        font-family: verilyserifmono;
        src: url(VerilySerifMono.otf);
    }  
    nav {
        display:flex;
        margin: auto;
        align-items: center;
        flex-direction: row;
        min-height: 10vh;
        justify-content: space-around;
        font-family: 'Inter', sans-serif;
        background-color: none;
        padding: 0;
    }


    .logo {
        color: black;
        letter-spacing: 3px;
        font-size: 25px ;
        display: flex;
        flex:1;
        margin: 20px;
    }
    ul { 
        display: flex;
        align-items: center;
        flex: 1;

    }
    ul li {
        list-style: none;
        display: flex;
        margin: 0 10px 0 10px;
        justify-content: space-around;
        align-items: center;

    }
    ul li a {
        text-decoration: none;
        font-family: verilyserifmono,Arial, Helvetica, sans-serif, monospace,sans-serif;
        
        font-size: 12px;
        letter-spacing: 1px;
        color: black;
        text-transform: uppercase;
    }


    ul li a:hover {
        color: #ccc;
    } 


    .background {
        width: 100%;
        height: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(IMG_1469.png);
        padding: 0 70px 80px -50px;
    }   
    .Introduction { 
        margin-top: 19vh;
        padding: 80px 0 205px 40px;
        text-align: left;
    }

    h5 {
        font-size: 1.25rem;
        font-family: "Inter", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        
    }
    h1 {font-size: 5rem;
        font-family: verilyserifmono,Arial, Helvetica, sans-serif, monospace,sans-serif;
        margin: -4px;
    }

    .sidebar 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        line-height: 20px;
        
        
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 10vh;
        background-color: black;
        width: 10rem;
        
    } 


    .sidebar li {
        list-style: none;
        
        
    }
    .sidebar li a { 
            background-color: white;
            font-size: .8125rem;
            font-weight: 600;
            line-height: 1.6;
            letter-spacing: .01em;
            text-transform: uppercase;
            color: white;
        }
    
    
        

    footer {
        font-size: 14px;
        text-transform: uppercase;
        font-family: sfmonoreg, monospace;
    }

    @media screen and (max-width:768px) {
        .logo { font-size: 18px;
    }
        ul { font-size: 13px;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        }
    
        .button div{ 
        width: 18px;
        height: 2px;
        margin: 5px;
        }
    }


    @media screen and (max-width:1024px) {
        ul {
            width: 60%;
        }

   

